.order{
  font-size: 1.5em;
    padding-bottom: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.result{
  display: flex;
  justify-content: center;
  margin-left: 60%;
}
span {
  color: black;
  font-weight: bold;
  padding-right: 10px;
}

input {
  background: #6d422d6e;
  border-radius: 20px;
  height: 30px;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.btnCancel {
  width: 120px;
  height: 35px;
  margin-top: 5%;
  background: #56493f;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.btnCancel:hover {
  background: #bda274;
}
.btnSend {
  width: 120px;
  height: 35px;
  margin-top: 5%;
  background: #6d422d;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.btnSend:hover {
  background: #bda274;
}
.deleteListProduct {
  text-decoration: none;
}
.thead ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 15px;
  font-weight: bold;
}

.tbody ul{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}

section.tfoot {
  display: flex;
}
.iconTrash{
  margin-left: 5px;
}
@media only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

	}
