.card {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  background-color: #baa035;
  margin-left: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
h5{
  text-align: center;
  font-weight: bold;
}
h6{
  border-radius: 4px;
  color:white;
  font-size: 25px;
  background-color: #0a071a54;
  width: 40%;
}
.btnStop{
  width: 120px;
    height: 35px;
    margin-top: 5%;
    background: #6d422d;
    color: white;
    border-radius: 10px;
}
.btnStop:hover {
  background-color: rgb(173, 47, 28);
}
.btnStop:active {
  background-color: rgb(130, 35, 21);
}
.btnStop:focus {
  outline: 0;
}
.temporize{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
